
  .cutomTopPadding
  {
    margin-top: 5px;
  }
  .vcenter {
    display: table-cell;
vertical-align: middle;
}

.centerHor {
  
  display:flex;
  align-items:center;
  justify-content:center;
}
.imgRound {
  border-radius: 50%;
}
.mat-button-toggle-checked
{
  background-color: #ff4081 !important;
}
mat-card
{
  text-align: center;

}

.mat-divider
{
  border-top-color: rgb(192, 192, 192);
}
.inputHeader
{
  font-weight: bolder;
}
.example-card
{
  margin-top: 20px;
}