<mat-card>
  <!-- Title of an Card -->


  <!-- Actual content starts from here -->
  <mat-card-content>
    <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
      <!-- <table>  
                <tr>  
                    <td>   -->
      <div class="row">
        <div class="col-md-12 example-container centerHor">
        <img  class="imgRound" alt="Avatar" [src]="url"  style="width: 100px;height: 100px;" (click)="fileInput.click()" />    <input id="file-input" accept="image/*"  #fileInput style="display: none" type="file" (change)="onSelectFile($event)"/>
        </div>
      </div>
      <div class="row cutomTopPadding">
        <div class="col-md-3 example-container">
          <mat-form-field>
            <input formControlName="Associate_Id" matInput placeholder="Associate Id">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!regiForm.get('Associate_Id').valid && regiForm.get('Associate_Id').touched">Please enter associate id !!!</span>
          </mat-error>
        </div>
        <div class="col-md-3 example-container ">
          <mat-form-field>
            <input formControlName="AssociateName" matInput placeholder="Associate Name">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!regiForm.get('AssociateName').valid && regiForm.get('AssociateName').touched">Please enter First Name !!!</span>
          </mat-error>
        </div>
        <div class="col-md-3 example-container">
          <mat-form-field>
            <input formControlName="Email" matInput placeholder="Email">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched">Please enter valid email !!!</span>
          </mat-error>
        </div>

      
        <div class="col-md-3 example-container ">
          <mat-form-field>
            <input formControlName="Phone" matInput placeholder="Phone">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!regiForm.get('Phone').valid && regiForm.get('Phone').touched">Please enter a mobile number!!!</span>
          </mat-error>
        </div>
      </div>
      <div class="row cutomTopPadding">

        <div class="col-md-3 example-container">
          <mat-form-field>
            <input formControlName="Strength" matInput placeholder="Strength">
          </mat-form-field>

        </div>
        <div class="col-md-3 example-container ">
          <mat-form-field>
            <input formControlName="Weakness" matInput placeholder="Weakness">
          </mat-form-field>

        </div>
        <div class="col-md-3 example-container ">
            <mat-form-field>
              <input formControlName="Remarks" matInput placeholder="Remarks">
            </mat-form-field>
  
          </div>
          <div class="col-md-3 example-container ">
              <mat-form-field>
                <input formControlName="Others" matInput placeholder="Others">
              </mat-form-field>
    
            </div>
          </div>
          <div class="row cutomTopPadding">
        <div class="col-md-3 example-container ">
          <span class="inputHeader">Gender</span>
          <br>
          <br>
          <mat-radio-group formControlName="Gender">
            <mat-radio-button value="m">Male</mat-radio-button>&nbsp;
            <mat-radio-button value="f">Female</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            <span *ngIf="!regiForm.get('Gender').valid && regiForm.get('Gender').touched">Please select any gender !!!</span>
          </mat-error>
        </div>
        <div class="col-md-3  ">
          <span class="inputHeader">Status</span>
          <br>
          <br>
          <mat-button-toggle-group formControlName="Status" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="blue">Blue</mat-button-toggle>
            <mat-button-toggle value="green">Green</mat-button-toggle>
            <mat-button-toggle value="red">Red</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
     
        <div class="col-md-3  ">
          <span class="inputHeader">Level</span>
          <br>
          <br>
          <mat-button-toggle-group formControlName="Level"  name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value=1>Level 1</mat-button-toggle>
            <mat-button-toggle value=2>Level 2</mat-button-toggle>
            <mat-button-toggle value=3>Level 3</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="row cutomTopPadding">
        <div class="col-md-1 inputHeader" style="display: flex; font-size: 18px;        align-items: center">Skills</div>
        <mat-form-field class=" col-md-4 example-full-width">
            <input type="text" placeholder="Filter" aria-label="Number" [formControl]="autoCtrl" name="autoCtrl" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredSkill | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="col-md-3"></div>
          <div class="col-md-3  example-container">
           <mat-form-field>
              <input  matInput placeholder="Add skill">
              
            </mat-form-field>
        
         
          </div>
          <div class="col-md-1">
            <button  mat-mini-fab color="primary" >
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </div>

     </div>
      <div class="row cutomTopPadding">
        <div class="col-md-12 ">
          <div class="row itemsBlock">

            <div *ngFor="let skill of skills| searchfilter:autoCtrl.value" class="col-md-3 col-sm-6 col-12">
              <!-- <div class="row">
                <div class="col-md-4 my-auto ">
                  <span class="align-baseline">{{skill}}</span>
                </div>

                <div class="col-md-8 ">

                  <mat-slider id="idddd" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="20"></mat-slider>&nbsp;20
                </div>
              </div> -->
              <mat-card class="example-card">
                  <mat-card-header style="justify-content: center">
                    <mat-card-title><span>{{skill.Skill.Skill_Name}} <mat-divider></mat-divider></span></mat-card-title> 

                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                  </mat-card-header>
                  <mat-card-content layout="row" layout-align="center">
                      <mat-slider id="idddd"   [(ngModel)]="skill.Rating"  [ngModelOptions]="{standalone: true}" 
                      thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="20"></mat-slider>&nbsp;20

                  </mat-card-content>
                  <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions> -->
                </mat-card>

            </div>
          </div>

        </div>
        <!-- <div class="col-md-1 "></div> -->

      </div>

      <button mat-raised-button color="accent" [disabled]="!regiForm.valid">Submit</button>


    </form>
  </mat-card-content>
</mat-card>