<div style="height: 10px"></div>
<ul class="valuechart">
  <li *ngFor="let graph of graphValues; let i = index" [style.width]="graph.value + '%'" [style.backgroundColor]="materialColors[i]">
    {{graph.title}} </li>
</ul>
<div style="height: 10px"></div>

<div class="row" style="text-align: center">
  <div class="col-md-1"></div>
  <div *ngFor="let tile of tiles; let i = index" align="center" class=" col-md-1"  [style.backgroundColor]="materialColorsSet2[i]" style="text-align: center;color: white; padding-top:10px;">
    <h1>{{tile.value}}</h1>
    <p>{{tile.title}}</p>

  </div>

</div>
  
<div class="row">
  <div class="col-md-6 example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class=" col-md-5" style="padding-top: 10px">
    <button mat-raised-button color="primary" routerLink="../associate"  style="float: right;">Add Associate</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>



<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Picture">
          <mat-header-cell *matHeaderCellDef > # </mat-header-cell>
          <mat-cell *matCellDef="let row">    

             <div  [ngStyle]="{'background': getUrl(row.Picture)}" mat-card-avatar class="example-header-image"></div>
          </mat-cell>
        </ng-container>
    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef ><span>Status</span> 
       
        </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button [ngClass]="row.Status" mat-mini-fab></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Associate_Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Associate Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Associate_Id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="AssociateName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.AssociateName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Phone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Email}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="Skill">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Strong Skills </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Skill}} </mat-cell>
      </ng-container> -->

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="button-row">
          <button mat-icon-button color="primary" [routerLink]="['../associate']" [queryParams]="{ id: row.Id }">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

</div> 
