
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">Skill Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/skill" >Add Skill</a>
        </li>
       
      </ul>
    </div>  
  </nav>
  
<router-outlet></router-outlet>
