/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body { margin: 0; }
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

a:focus {
    outline: none;
    }

    *:focus {
        outline: none !important;
        border: 0 !important;
      }